* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;

}

header {
    padding: 1.5rem, 1.8rem;
    display: flex;
    justify-content: space-between;
    background-image: url("../images/clouds.jpg");
    background-size: cover;
    width: 100%;
    height: 13.6rem;
    flex-direction: column;

}

header h1 {
    font-size: 7.1rem;
    text-align: center;
    font-style: oblique;
    text-decoration: underline;
}

header h2 {
    font-size: 4.5rem;
    text-align: center;
}

.input {
    text-align: left;
    height: 3.0rem;
    justify-content: center;
    flex: auto;
}


input[type="submit"] {
    height: 60px;
    width: 85px;
    font-size: large;
}


.inputCity,
.searches {
    height: 80px;
    width: 18rem;
    background-color: beige;
    font-size: 2.5rem;
}

.today {
    text-align: center;
    padding: 100px;
}

.search h1 {
    text-align: center;
    background-color: rgba(rgb(33, 176, 212));
}

.fiveDay {
    text-align: center;
    font-size: 3.8rem;
    justify-content: center;
    align-items: row;
}

.column {
    float: left;
    width: 20%;
    padding: 0, 12px;
    align-items: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: rgb(11, 52, 62);

}